.timer{
    margin-top: 100px;
    font-family: fantasy;
    text-align: center;
    font-size: 66px;
}
.timer button{
    width: 200px;
    height: 200px;
    background-color: #009294;
    border-radius: 100%;
    font-size: 24px;
    border: none;
    color: white;
    outline: 0;
}
.timer button:focus {
    border: 5px outset black;
}
